<div class="row">
  <div class="col-xs-12">
    <div class="img-responsive">
      <img [src]="viewRecipe.imagePath" width="250px" height="250px" alt="recipe-image" />
    </div>
    <h2>{{ viewRecipe.name }}</h2>

    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Manage Recipe
      </button>
      <ul class="dropdown-menu mt-4">
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="toShoppingList()">To Shopping List</a></li>
        <li><a class="dropdown-item" (click)="OnEditRecipe()">Edit Recipe</a></li>
        <li><a class="dropdown-item" (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>

    <div>{{ viewRecipe.description }}</div>
    <div>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let ingredient of viewRecipe.ingredients">{{ ingredient.name +" - "+ ingredient.amount }}</li>
      </ul>
    </div>

  </div>
</div>
